body {
  font-family: Lato, 'Helvetia', Arial, sans-serif;
  background: #fafafa;
  color: #333;
  padding: 40px 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.vermeer-stats  ul {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.stats-paintings {
  width: 300px;
}

ul.stats-paintings li {
  height: 20px; width: 20px;
  background: pink;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid rgba(130, 76, 30, 0.29);
}

ul.stats-paintings li.seen {
  background: blue;
}
