/*html {
  height: 100%;
  width: 100%;
}*/

body {
  font-family: 'Source Sans Pro', 'Helvetia', Arial, sans-serif;
  color: #2b334d;
  padding: 40px 0;
  height: 100%;
  overflow: auto;
  /*line-height: 1.5em !important;*/
  /* gradient bg */
  background: hsl(56,100%,97%);
  background: -moz-linear-gradient(-30deg, hsl(56,100%,97%) 0%, hsl(0,0%,86%) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, hsl(56,100%,97%)), color-stop(100%, hsl(0,0%,86%)));
  background: -webkit-linear-gradient(-30deg, hsl(56,100%,97%) 0%, hsl(0,0%,86%) 100%);
  background: -o-linear-gradient(-30deg, hsl(56,100%,97%) 0%, hsl(0,0%,86%) 100%);
  background: -ms-linear-gradient(-30deg, hsl(56,100%,97%) 0%, hsl(0,0%,86%) 100%);
  background: linear-gradient(80deg, hsl(56,100%,97%) 0%, hsl(0,0%,86%) 100%);
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

main {
  padding: 60px 0;
}

img {
  width: 100%;
}

a {
  color: #2b334d;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: .5px;
}

a:hover {
  color: #5D7192;
  border-color: #5D7192;
}

h1 {
  font-size: 2.5em;
}

/* TODO */

h1, h2, h3, h4 {
  font-family: "Merriweather";
  font-weight: 800;
}

h1 a {
  border: none;
}

p {
  line-height: 1.4em;
}

/* TODO */

em {
  font-family: "Merriweather";
  font-style: italic;
  font-size: .9em;
}

/*
   Utilities
*/

ul.no-style {
  list-style: none;
  padding: 0; margin: 0;
}

ul.no-style li {
  display: inline-block;
}

ul.no-style li + li {
  padding-left: 10px;
}

ul.tall-lines li {
  line-height: 1.8em;
}

.no-bold { font-weight: normal; }

.painting-meta {
  padding-top: 20px;
}
.painting-meta p {
  font-size: 12px;
  margin: 2px 0;
}

.force-wrap {
  white-space: nowrap;
}

.pt-18 {
  padding-top: 18px;
}

/* TODO don't use? */

.half {
  width: calc((99.5% - 18px) / 2);
  display: inline-block;
  vertical-align: top;
}

.half + .half {
  margin-left: 18px;
}

.half h2 {
  margin-top: 0;
}

.float-left {
  float: left;
}

.inline-block {
  display: inline-block;
}

.f-right {
  float: right;
}

.divider-line {
  border-bottom: 2px solid #2b334d;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/*
   Nav
*/

nav {
  text-align: right;
  border-top: 1px solid #333;
  width: 100%;
  padding-top: 10px;
}

/*
   Footer
*/

footer h4 {
  margin: 0; padding: 0;
}

footer h4 a {
  border: none;
}

/*
   Paintings
*/

.painting-container h3,
.painting-names {
  margin-top: 0;
  margin-bottom: 8px;
}

/* TODO */

.painting-container h3 {
  line-height: 1.5em;
}

.painting-container {
  overflow: auto;
  padding-bottom: 40px;
}

.some {
  width: calc((100% - 18px) * .39);
  display: inline-block;
  vertical-align: top;
  /*background: salmon;*/
}

.most {
  width: calc((100% - 18px) * .6);
  display: inline-block;
  vertical-align: top;
  /*background: pink;*/
}

.some + .most {
  margin-left: 23px;
}

.some h2:first-of-type {
  margin-top: 0;
}

.most p:first-of-type {
  margin-top: 0;
}

@media (max-width: 900px) {
  .wrapper { width: 100%; padding: 0 10px; }
  .most, .some { display: block; width: 100%;}
  .some + .most { margin-left: 0; }
  .f-right { float: none; }
  .painting-info { padding-top: 18px; }
}
